<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://use.typekit.net/dpg5yxz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <title>Unveil | faites lever le voile sur vos secrets</title>
</head>
<body>

<img src="/assets/img/logo.svg" class="logo" alt="Unveil, faites lever le voile sur vos secrets">
<!-- Oauth -->
<main>
    <section id="create_room">
    <ul class="steps">
        <li>Connectez-vous</li>
        <li class="disabled">Créez votre secret</li>
        <li class="disabled">Invitez vos proches</li>
    </ul>

    <section class="slide_viewport">

        <div class="slides_container">

            <section id="google_connect" class="slide">
                <p>Connectez-vous avec votre compte gmail pour accéder à vos contacts.</p>
                <button id="authorize-button" style="visibility: hidden" class="btn">Identifiez vous via Google</button>
                <div class="step_success connected">
                    <p>Vous êtes maintenant connecté</p>
                    <a class="btn btn_alter next_step" data-index="0">étape suivante (2/3)</a>
                </div>
            </section>

            <section id="message_create" class="slide">
                <p>Quel secret voulez-vous réveler ?</p>

                <form id="form_create">
                    <input type="email" placeholder="votre mail" required name="owner">
                    <input type="text" placeholder="votre nom" name="name" required>
                    <input type="text" placeholder="votre message" name="message" required>

                    <div class="step_success secreted">
                        <p>Votre secret est prêt</p>
                        <a id="select_friends" class="btn btn_alter next_step" data-index="1">Étape suivante (3/3)</a>
                    </div>
                </form>
            </section>

            <section id="user_invite" class="slide">
                <p>Choisissez les personnes à qui vous voulez diffuser votre secret :</p>
                <input placeholder="Search" class="animated-search-filter" />
                <ul id="contact_list" class="animated-search-filter"></ul>
            </section>

        </div>

        <a class="btn" id="launch_room">Envoyez votre secret</a>

    </section>
    </section>

        <section id="chat">

            <h1>Who's missing ?</h1>
            <ul id="usersOffline">
            </ul>
            <ul id="usersOnline">
            </ul>
            <h1>Chat</h1>
            <ul id="conversation"></ul>
            <div class="sender_container">
            <input id="user_msg" type="text" placeholder="dites quelque chose">
                <button id="valid_msg">envoyer</button>
            </div>
        </section>


        <section id="unveil">Révélation : </section>

</main>




<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/js/animated-search-filter.js"></script>
<script type="text/javascript" src="/assets/js/script_back.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</body>
</html>