<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://use.typekit.net/dpg5yxz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <title>Unveil | faites lever le voile sur vos secrets</title>
</head>
<body>

<img src="/assets/img/logo.svg" class="logo" alt="Unveil, faites lever le voile sur vos secrets">
<!-- Oauth -->
<main id="create_room">
    <ul class="steps">
        <li>Connectez-vous</li>
        <li class="disabled">Créez votre secret</li>
        <li class="disabled">Invitez vos proches</li>
    </ul>

    <div class="slide_viewport">

        <div class="slides_container">

            <section id="google_connect" class="slide">
                <p>Connectez-vous avec votre compte gmail pour accéder à vos contacts.</p>
                <button id="authorize-button" style="visibility: hidden" class="btn">Identifiez vous via Google</button>
                <div class="step_success connected">
                    <p>Vous êtes maintenant connecté</p>
                    <a class="btn btn_alter next_step" data-index="0">étape suivante (2/3)</a>
                </div>
            </section>

            <section id="message_create" class="slide">
                <p>Quel secret voulez-vous réveler ?</p>

                <form id="form_create">
                    <input type="email" placeholder="votre mail" required name="owner">
                    <input type="text" placeholder="votre nom" name="name" required>
                    <input type="text" placeholder="votre message" name="message" required>

                    <div class="step_success secreted">
                        <p>Votre secret est prêt</p>
                        <a id="select_friends" class="btn btn_alter next_step" data-index="1">Étape suivante (3/3)</a>
                    </div>
                </form>
            </section>

            <section id="user_invite" class="slide">
                <p>Choisissez les personnes à qui vous voulez diffuser votre secret :</p>
                <input placeholder="Search" class="animated-search-filter" />
                <ul id="contact_list" class="animated-search-filter"></ul>
            </section>

        </div>

        <a class="btn" id="launch_room">Envoyez votre secret</a>

    </div>
</main>




<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/js/animated-search-filter.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
<script>
    $(function(){


        // Contact management
        var _tmp_invitations = [];

        $('#contact_list li').click(function(){
            // Get index of each item
            var _tmp_id = parseInt($(this).attr('data-index'));
            // Add class selected
            $(this).toggleClass('selected');

            var _ind = parseInt(_tmp_invitations.indexOf(_tmp_id));
            if(_ind != -1) {
                _tmp_invitations.splice(_ind, 1);
                if(_tmp_invitations.length == 0){
                    $('.steps li:nth-child(3)').removeClass('done');
                    $(document).trigger('elDone');
                }
            } else {
                _tmp_invitations.push(_tmp_id);
                $('.steps li:nth-child(3)').addClass('done');
                $(document).trigger('elDone');
            }
        });

    });


    var emails = !sessionStorage.emails ? null : JSON.parse(sessionStorage.emails) ;
    var clientId = '605751688227-u0fliiq32028oh6uim9mguae8hqfb7jj.apps.googleusercontent.com';
    var apiKey = 'AIzaSyAOpIxefwOLJi7luSaFxNNSjNn7EjJWru0';
    var scopes = 'https://www.googleapis.com/auth/contacts.readonly';
    var socket = io();

    function handleClientLoad() {
        gapi.client.setApiKey(apiKey);
        window.setTimeout(checkAuth,1);
    }
    function checkAuth() {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
    }
    function handleAuthResult(authResult) {
        var authorizeButton = document.getElementById('authorize-button');
        if (authResult && !authResult.error) {

            authorizeButton.style.visibility = 'hidden';
            //console.log(authResult);

            getContacts(authResult.access_token);

        } else {
            authorizeButton.style.visibility = '';
            authorizeButton.onclick = handleAuthClick;
        }
    }
    function handleAuthClick(event) {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
        return false;
    }

    function getContacts(token){
        var url = 'https://www.google.com/m8/feeds/contacts/default/full/'
        + '?access_token='+token+'&alt=json&max-results=1000';

            $.get(url, function(data){
                console.log(data);

                var _tmp = [];

                //sessionStorage.setItem('emails', JSON.stringify(data.feed.entry));

                $.each(data.feed.entry, function(ind, val){
                    if(val['gd$email']){
                        _tmp.push({
                            title : val['title'].$t,
                            email : val['gd$email'][0].address
                        });


                        /*$('ul').append('<li><p>'+val['title'].$t+'<br>'+val['gd$email'][0].address+'</p></li>');*/
                    }

                    if(ind === data.feed.entry.length-1){
                        sessionStorage.setItem('emails', JSON.stringify(_tmp));
                        $('.steps li:first-child').addClass('done');
                        $(document).trigger('elDone');
                        $('.connected').fadeIn(100);
                        //window.location = '/login';
                    }
                });
        });
    }
</script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</body>
</html>