<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/dpg5yxz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <title>Unveil | faites lever le voile sur vos secrets</title>
</head>
<body>
<!-- Oauth -->
<main>
    <ul class="steps">
        <li>connectez-vous</li>
        <li class="disabled">paramétrez-votre secret</li>
        <li class="disabled">invitez vos proches</li>
    </ul>

    <div class="slides_container">
    <section id="google_connect" class="slide">
        <p>Connectez-vous avec votre compte gmail pour accéder à vos contacts.</p>
        <button id="authorize-button" style="visibility: hidden" class="btn">Identifiez vous via Google</button>
    </section>

    <section id="message_creation" class="slide">
        <p>Connectez-vous avec votre compte gmail pour accéder à vos contacts.</p>
        <button style="visibility: hidden" class="btn">Identifiez vous via Google</button>
    </section>

        <section id="message_creation" class="slide">
            <p>Connectez-vous avec votre compte gmail pour accéder à vos contacts.</p>
            <button style="visibility: hidden" class="btn">Identifiez vous via Google</button>
        </section>

    </div>
</main>




<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    var clientId = '605751688227-u0fliiq32028oh6uim9mguae8hqfb7jj.apps.googleusercontent.com';
    var apiKey = 'AIzaSyAOpIxefwOLJi7luSaFxNNSjNn7EjJWru0';
    var scopes = 'https://www.googleapis.com/auth/contacts.readonly';
    var socket = io();
    
    function handleClientLoad() {
        gapi.client.setApiKey(apiKey);
        window.setTimeout(checkAuth,1);
    }
    function checkAuth() {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
    }
    function handleAuthResult(authResult) {
        var authorizeButton = document.getElementById('authorize-button');
        if (authResult && !authResult.error) {

            authorizeButton.style.visibility = 'hidden';
            console.log(authResult);

            getContacts(authResult.access_token);

        } else {
            authorizeButton.style.visibility = '';
            authorizeButton.onclick = handleAuthClick;
        }
    }
    function handleAuthClick(event) {
        gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
        return false;
    }

    function getContacts(token){
        var url = 'https://www.google.com/m8/feeds/contacts/default/full/'
        + '?access_token='+token+'&alt=json&max-results=1000';

            $.get(url, function(data){
                console.log(data);

                var _tmp = [];

                //sessionStorage.setItem('emails', JSON.stringify(data.feed.entry));

                $.each(data.feed.entry, function(ind, val){
                    if(val['gd$email']){
                        _tmp.push({
                            title : val['title'].$t,
                            email : val['gd$email'][0].address
                        })

                        /*$('ul').append('<li><p>'+val['title'].$t+'<br>'+val['gd$email'][0].address+'</p></li>');*/
                    }

                    if(ind === data.feed.entry.length-1){
                        sessionStorage.setItem('emails', JSON.stringify(_tmp));
                        $('.steps li:first-child').addClass('done');
                        //swindow.location = '/event';
                    }
                });
        });
    }
</script>
<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</body>
</html>