<!doctype html>
<html>
<head>
	<title>Unveil | Event</title>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
	<h1>Event</h1>

	<input type="text" placeholder="Ton annonce" id="msg">
	<input type="text" placeholder="lieu de l'évènement" id="place">
	<a href="/friends">Invite tes amis</a>
	<button>Envoyer l'annonce</button>

	<script>
		var socket = io();

		function createRoom(){
			var _v = $('#msg').val();
			var _p= $('#place').val();
			socket.emit('create', _v, _p);

			// clear input
			//$('input').val('');
		}

		$(function(){
			$('button').on('click', function(){
				createRoom();
			});
		});

		document.addEventListener('keyup', function(e){
			if(e.keyCode === 13) createRoom();
		});

		var _ownerName = data.feed.author[0].name.$t,
				_ownerMail = data.feed.author[0].email.$t;

		console.log (_ownerMail);
		socket.emit('create', _ownerName, _ownerMail,null, null, null);

	</script>

</body>
</html>