<!doctype html>
<html>
<head>
	<title>Unveil | Event</title>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
	<h1>Event</h1>

	<input type="text" placeholder="Ton annonce">
	<input type="text" placeholder="Lieux (facultatif)">
	<input type="text" placeholder="Date (facultatif)">
	<a href="/friends">Invite tes amis</a>
	<button>Envoyer l'annonce</button>
	<ul></ul>
	<script>

	</script>
</body>
</html>